p{
    font-size: 20px;
    font-weight: 700;
}
#btnLogin{
    border-radius: 0;
    background-color: rgb(100, 198, 243);
}
.form-control {
    border-radius: 0;
    width: 500px; /* Set border radius to 0 to remove it */
}

.form-control:focus {
    outline: none; /* Remove the default focus outline */
    box-shadow: none;
    border-radius: 0; /* Remove any box shadow applied on focus */
}
#btnG{
  width: 30px;
  height: 30px;
}

@media screen and (min-width:414px) and (max-width:980px) {
 
    } 

